<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Datos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Gestión de Estudiantes, Contratistas, Materiales y Proyectos</h1>

        <button class="menu-btn" onclick="toggleMenu()">Servicios</button>

        <div id="submenu" class="submenu">
            <button onclick="window.location.href='/estadisticas'">Estadísticas</button>
            <button onclick="window.location.href='/creacion_real'">Ejecución</button>
            <button onclick="window.location.href='/creacion'">Creación</button>
        </div>
    </div>

    <script>
        function toggleMenu() {
            var submenu = document.getElementById("submenu");
            submenu.style.display = submenu.style.display === "none" ? "block" : "none";
        }
    </script>
</body>
</html>
